:root {
  --glass-drop-shadow: drop-shadow(0px 4px 8px rgba(18, 18, 18, 0.25));
  --blur: blur(1rem);
  --card-box-shadow: 0px 0.5rem 1rem rgba(00, 00, 00, 0.5);
  --card-box-shadow-16dp: 0px 1rem 2rem rgba(00, 00, 00, 0.5);
}
:root,
:root[color-mode="light"] {
  --drop-shadow: drop-shadow(0px 6px 8px rgba(00, 169, 226, 0.75));
  --card-drop-shadow: drop-shadow(0px 10px 20px rgba(00, 169, 226, 0.5));
  --primary-linear-gradient: linear-gradient(45deg, #87d3e9 0%, #00a9e2 100%);
  --primary-inner-shadow: inset 0.25rem 0.25rem 0.5rem rgba(00, 137, 194, 0.25),
    inset -0.25rem -0.25rem 0.5rem rgba(0, 137, 194, 0.75);
  --button-inner-shadow: inset 0.125rem 0.125rem 0.25rem
      rgba(122, 206, 235, 0.25),
    inset -0.25rem -0.25rem 0.5rem rgba(122, 206, 235, 0.5);
}
:root[color-mode="dark"] {
  --drop-shadow: drop-shadow(0px 6px 8px rgba(18, 18, 18, 0.75));
  --card-drop-shadow: drop-shadow(0px 10px 20px rgba(18, 18, 18, 0.5));
  --primary-linear-gradient: linear-gradient(90deg, #ffbe00 0%, #ffde7c 100%);
  --button-inner-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.25),
    inset -4px -4px 8px rgba(0, 0, 0, 0.5);
}
