/*스프라이트 사용을 위해 만든 css*/
/*
icon 같은 경우 이와 같은 형식으로 이미지 위치 조절을 통해 이미지를 사용한다.
.icon_rotate{...width:15px;height:15px;background-position:-23px -50px;}
*/
.vue,
.tailwind-css,
.nodejs,
.docker,
.ubuntu,
.typescript,
.github,
.figma,
.nuxt,
.storybook,
.jenkins,
.cplusplus,
.javascript,
.express,
.jest,
.mariadb,
.vscode,
.sass,
.git,
.flutter,
.notion,
.lit,
.react {
  width: 5rem;
  height: 5rem;
  background: url("@/assets/png/iconSprite.png") no-repeat;
}

.vue {
  background-position: 0px 0px;
}
.tailwind-css {
  background-position: calc(-1 * 5rem) 0px;
}
.nodejs {
  background-position: calc(-2 * 5rem) 0px;
}
.docker {
  background-position: calc(-3 * 5rem) 0px;
}
.ubuntu {
  background-position: calc(-4 * 5rem) 0px;
}

.typescript {
  background-position: 0px -5rem;
}
.github {
  background-position: calc(-80 * 1px) -5rem;
}
.figma {
  background-position: calc(-80 * 2px) -5rem;
}
.nuxt {
  background-position: calc(-80 * 3px) -5rem;
}
.storybook {
  background-position: calc(-80 * 4px) -5rem;
}

.jenkins {
  background-position: 0px calc(-5rem * 2);
}
.cplusplus {
  background-position: calc(-5rem * 1) calc(-5rem * 2);
}
.javascript {
  background-position: calc(-5rem * 2) calc(-5rem * 2);
}
.express {
  background-position: calc(-5rem * 3) calc(-5rem * 2);
}
.jest {
  background-position: calc(-5rem * 4) calc(-5rem * 2);
}

.mariadb {
  background-position: 0px calc(-5rem * 3);
}
.vscode {
  background-position: calc(-5rem * 1) calc(-5rem * 3);
}
.sass {
  background-position: calc(-5rem * 2) calc(-5rem * 3);
}
.git {
  background-position: calc(-5rem * 3) calc(-5rem * 3);
}
.flutter {
  background-position: calc(-5rem * 4) calc(-5rem * 3);
}

.notion {
  background-position: 0px calc(-5rem * 4);
}
.lit {
  background-position: calc(-5rem * 1) calc(-5rem * 4);
}
.react {
  background-position: calc(-5rem * 2) calc(-5rem * 4);
}
